# Label EDA _ 3rd (correct with "normal")

### 1. Correction
- correct "normal" with "nf"
- correct **Arcuate Defect (ad)**: Superior ad, Inferior ad and Double ad

### 2. Input Files
- 11. Grader1_labels_VF.csv
- 12. Grader2_labels_VF.csv
- 13. OR_labels_VF.csv
- 14. AND_labels_VF.csv

### 3. Output Files
- 15.
- 16.
- 17.
- 18.

In [1]:
import pandas as pd

In [2]:
label_g1 = pd.read_csv("11. Grader1_labels_VF.csv")
label_g2 = pd.read_csv("12. Grader2_labels_VF.csv")
label_OR = pd.read_csv("13. OR_labels_VF.csv")
label_AND = pd.read_csv("14. AND_labels_VF.csv")

In [3]:
print("The shape of label_g1 is", label_g1.shape)
print("The shape of label_g2 is", label_g2.shape)
print("The shape of label_OR is", label_OR.shape)
print("The shape of label_AND is", label_AND.shape)

The shape of label_g1 is (301, 302)
The shape of label_g2 is (301, 302)
The shape of label_OR is (301, 302)
The shape of label_AND is (301, 302)

### Clean NaN: Drop 8 columns
- drop columns (8)
label_g1 = label_g1.dropna(axis = 1)
label_g1.shape

# ===============================
# Step 1: Correct "normal" with "nf" (and the other 4 artifacts)
- "normal = 1" conflicts with "nf = 1", "apcre = 1", "efp = 1", "efth = 1" and "tld = 1"
- change data with "normal=1" that also have "nf=1" to "normal = 0"
1. nf
2. apcre
3. efp
4. efth
5. tld

In [4]:
label_g1.normal.sum()

170.0

In [5]:
label_g1[label_g1.normal==1].shape

(170, 302)

In [6]:
#### 1. nf
print("Positive of normal before correction is", label_g1["normal"].sum())
# write a FOR LOOP to correct "normal" label:
# for "normal = 1", if "nf = 1", then change to "normal = 0"

for i in range(label_g1.shape[0]):
    if label_g1["nf"][i] == 1.0 and label_g1["normal"][i] == 1.0:
        label_g1["normal"][i] = 0.0

print("Positive of normal ater correction is", label_g1["normal"].sum())

Positive of normal before correction is 170.0
Positive of normal ater correction is 59.0

/Users/yuhuicao/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
#### 2. apcre
print("Positive of normal before correction is", label_g1["normal"].sum())
# write a FOR LOOP to correct "normal" label:
# for "normal = 1", if "nf = 1", then change to "normal = 0"

for i in range(label_g1.shape[0]):
    if label_g1["apcre"][i] == 1 and label_g1["normal"][i] == 1:
        label_g1["normal"][i] = 0

print("Positive of normal ater correction is", label_g1["normal"].sum())

Positive of normal before correction is 59.0
Positive of normal ater correction is 54.0

/Users/yuhuicao/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
#### 3. efp
print("Positive of normal before correction is", label_g1["normal"].sum())
# write a FOR LOOP to correct "normal" label:
# for "normal = 1", if "nf = 1", then change to "normal = 0"

for i in range(label_g1.shape[0]):
    if label_g1["efp"][i] == 1 and label_g1["normal"][i] == 1:
        label_g1["normal"][i] = 0

print("Positive of normal ater correction is", label_g1["normal"].sum())

Positive of normal before correction is 54.0
Positive of normal ater correction is 50.0

/Users/yuhuicao/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [9]:
#### 4. efth
print("Positive of normal before correction is", label_g1["normal"].sum())
# write a FOR LOOP to correct "normal" label:
# for "normal = 1", if "nf = 1", then change to "normal = 0"

for i in range(label_g1.shape[0]):
    if label_g1["efth"][i] == 1 and label_g1["normal"][i] == 1:
        label_g1["normal"][i] = 0

print("Positive of normal ater correction is", label_g1["normal"].sum())

Positive of normal before correction is 50.0
Positive of normal ater correction is 48.0

/Users/yuhuicao/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
#### 5. tld
print("Positive of normal before correction is", label_g1["normal"].sum())
# write a FOR LOOP to correct "normal" label:
# for "normal = 1", if "nf = 1", then change to "normal = 0"

for i in range(label_g1.shape[0]):
    if label_g1["tld"][i] == 1 and label_g1["normal"][i] == 1:
        label_g1["normal"][i] = 0

print("Positive of normal ater correction is", label_g1["normal"].sum())

Positive of normal before correction is 48.0
Positive of normal ater correction is 46.0

/Users/yuhuicao/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
print("The proportion of corrected normal is 46/301 =", 
      label_g1["normal"].sum()/label_g1.shape[0])

The proportion of corrected normal is 46/301 = 0.15282392026578073

In [12]:
46/301

0.15282392026578073

In [14]:
label_g1[["sad", "iad", "dad"]].dtypes

sad    float64
iad    float64
dad    float64
dtype: object

# ===============================
# Step 2: Correct Arcuate Defect (ad)
- Superior ad
- Inferior ad
- Double ad

In [13]:
label_g1.head()

,record_id,ptid,vstdate,OD_flag,Eye,sad,iad,dad,sns,ins,...,PD_NUM_45,PD_NUM_46,PD_NUM_47,PD_NUM_48,PD_NUM_49,PD_NUM_50,PD_NUM_51,PD_NUM_52,PD_NUM_53,PD_NUM_54
0,1,T0005,4/21/14,od,Right,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,T0005,4/21/14,os,Left,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,1.0,1.0,3.0,2.0,0.0
2,2,T0007,5/15/14,od,Right,1.0,0.0,0.0,0.0,1.0,...,4.0,0.0,4.0,0.0,0.0,0.0,4.0,4.0,4.0,1.0
3,2,T0007,5/15/14,os,Left,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
4,3,T0008,12/10/13,od,Right,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,4.0,0.0,0.0,0.0,3.0,4.0,0.0,0.0

In [14]:
label_g1[["sad", "iad", "dad"]].sum()

sad    44.0
iad    18.0
dad    18.0
dtype: float64

In [15]:
label_g1[['sad', 'iad', 'dad']].value_counts()

sad  iad  dad
0.0  0.0  0.0    224
1.0  0.0  0.0     41
0.0  0.0  1.0     18
     1.0  0.0     15
1.0  1.0  0.0      3
dtype: int64

In [16]:
224 + 41 + 18 + 15 + 3

301

In [17]:
label_g1.shape

(301, 302)

In [18]:
### 1. correct for "dad"
print("Positive of dad before correction is", label_g1["dad"].sum())

for i in range(label_g1.shape[0]):
    if label_g1["sad"][i] == 1 and label_g1["iad"][i] == 1:
        label_g1["dad"][i] = 1

print("Positive of dad ater correction is", label_g1["dad"].sum())

Positive of dad before correction is 18.0
Positive of dad ater correction is 21.0

/Users/yuhuicao/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [19]:
### 2. correct for "sad" and "iad"
print("Positive of sad before correction is", label_g1["sad"].sum())
print("Positive of iad before correction is", label_g1["iad"].sum())

for i in range(label_g1.shape[0]):
    if label_g1["dad"][i] == 1:
        label_g1["sad"][i] = 1

for i in range(label_g1.shape[0]):
    if label_g1.loc[:, ("dad")][i] == 1:
        label_g1.loc[:, ("iad")][i] = 1

print("Positive of sad ater correction is", label_g1["sad"].sum())
print("Positive of iad ater correction is", label_g1["iad"].sum())

Positive of sad before correction is 44.0
Positive of iad before correction is 18.0
Positive of sad ater correction is 62.0
Positive of iad ater correction is 36.0

/Users/yuhuicao/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/Users/yuhuicao/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

# ===============================
# Step 3: Add 2 columns for simulation

In [20]:
label_g1.head()

,record_id,ptid,vstdate,OD_flag,Eye,sad,iad,dad,sns,ins,...,PD_NUM_45,PD_NUM_46,PD_NUM_47,PD_NUM_48,PD_NUM_49,PD_NUM_50,PD_NUM_51,PD_NUM_52,PD_NUM_53,PD_NUM_54
0,1,T0005,4/21/14,od,Right,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,T0005,4/21/14,os,Left,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,1.0,1.0,3.0,2.0,0.0
2,2,T0007,5/15/14,od,Right,1.0,0.0,0.0,0.0,1.0,...,4.0,0.0,4.0,0.0,0.0,0.0,4.0,4.0,4.0,1.0
3,2,T0007,5/15/14,os,Left,1.0,1.0,1.0,0.0,0.0,...,1.0,0.0,0.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
4,3,T0008,12/10/13,od,Right,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,4.0,0.0,0.0,0.0,3.0,4.0,0.0,0.0

In [21]:
df1 = label_g1["ptid"] + "_" + label_g1["OD_flag"]
label_g1.insert(4, 'ptid_OD', df1)
label_g1.head()

,record_id,ptid,vstdate,OD_flag,ptid_OD,Eye,sad,iad,dad,sns,...,PD_NUM_45,PD_NUM_46,PD_NUM_47,PD_NUM_48,PD_NUM_49,PD_NUM_50,PD_NUM_51,PD_NUM_52,PD_NUM_53,PD_NUM_54
0,1,T0005,4/21/14,od,T0005_od,Right,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,T0005,4/21/14,os,T0005_os,Left,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,1.0,1.0,3.0,2.0,0.0
2,2,T0007,5/15/14,od,T0007_od,Right,1.0,0.0,0.0,0.0,...,4.0,0.0,4.0,0.0,0.0,0.0,4.0,4.0,4.0,1.0
3,2,T0007,5/15/14,os,T0007_os,Left,1.0,1.0,1.0,0.0,...,1.0,0.0,0.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
4,3,T0008,12/10/13,od,T0008_od,Right,0.0,0.0,0.0,0.0,...,0.0,2.0,4.0,0.0,0.0,0.0,3.0,4.0,0.0,0.0

In [22]:
label_g1.shape[0]

301

In [23]:
import numpy as np
df2 = [np.NaN] * label_g1.shape[0]
len(df2)

301

In [24]:
label_g1.insert(5, 'ptid_OD_SIM', df2)
label_g1.head()

,record_id,ptid,vstdate,OD_flag,ptid_OD,ptid_OD_SIM,Eye,sad,iad,dad,...,PD_NUM_45,PD_NUM_46,PD_NUM_47,PD_NUM_48,PD_NUM_49,PD_NUM_50,PD_NUM_51,PD_NUM_52,PD_NUM_53,PD_NUM_54
0,1,T0005,4/21/14,od,T0005_od,NaN,Right,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,T0005,4/21/14,os,T0005_os,NaN,Left,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,1.0,1.0,3.0,2.0,0.0
2,2,T0007,5/15/14,od,T0007_od,NaN,Right,1.0,0.0,0.0,...,4.0,0.0,4.0,0.0,0.0,0.0,4.0,4.0,4.0,1.0
3,2,T0007,5/15/14,os,T0007_os,NaN,Left,1.0,1.0,1.0,...,1.0,0.0,0.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
4,3,T0008,12/10/13,od,T0008_od,NaN,Right,0.0,0.0,0.0,...,0.0,2.0,4.0,0.0,0.0,0.0,3.0,4.0,0.0,0.0

# ===============================
# Step 4: Save to csv file

In [25]:
label_g1.to_csv('/Users/yuhuicao/Desktop/3. Classification - normal + S.I.D (corrected)/15. Grader1_labels_VF (normal + S.I.D corrected).csv', index = False)